@model IEnumerable<Comentario>
@{
    ViewData["Title"] = "Lista de Comentarios";
}


<div class="row m-2">
    <div class="col-sm-12 col-md-9">
        <h1>Administrador de Comentarios</h1>
    </div>
    <div class="col-sm-12 col-md-3">
        <a asp-action="Crear" class="btn btn-outline-primary float-end"> <i class="bi bi-plus-square"></i> Agregar Comentario</a>
    </div>
</div>

<div class=" card bg-light p-3 table-responsive-modif">
    <table class="table" id="tblComentarios">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Mensaje</th>
                <th>Articulo</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/comentarios.js"></script>
}