@model IEnumerable<Categoria>
@{
    ViewData["Title"] = "Lista de Categorias";
}


<div class="row m-2">
    <div class="col-sm-12 col-md-9">
        <h1>Lista de Categorias</h1>
    </div>
    <div class="col-sm-12 col-md-3">
        <a asp-action="Crear" class="btn btn-outline-primary float-end"> <i class="bi bi-plus-square"></i> Agregar Categoria</a>
    </div>
</div>

<div class=" card bg-light p-3 table-responsive-modif">
    <table class="table" id="tblCategorias">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        @* <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.IdCategoria)</td>
                    <td>@Html.DisplayFor(m => item.Nombre)</td>
                    <td>@Html.DisplayFor(m => item.FechaCreacion)</td>
                    <td>
                        boton editar <br/> boton borrar
                    </td>
                </tr>
                
            }
        </tbody> *@
    </table>
</div>


@section Scripts{
    <script src="~/js/categorias.js"></script>
}